# Prevent docker directory from being included in add command.
docker/Dockerfile
.idea/**/*
.github/**/*
node_modules/**/*
# We don't want prebuilt items being included, since dockerfile will build these items. Want clean.
./**/dist
.env
